<h1>Enter your change below in cents</h1>
<form action="/input">
  <label for="input">Type Here</label>
  <input id="input" type="text" name="coin_input">
  <button type="submit">Submit</button>
</form>
